<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secret Friend</title>
</head>

<body>

  <div class="table-box">

    <button type="button" class="btn btn-success">Novo Amigo</button>

    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col" class="text-center">E-mail</th>
          <th scope="col" class="text-right">Amigo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let friend of friends">
          <td>{{ friend?.name }}</td>
          <td class="text-center">{{ friend?.email }}</td>
          <td class="text-right">{{ friend?.friend ? friend?.friend : "Aguardando sorteio"  }}</td>
        </tr>

      </tbody>
    </table>

    <button type="button" class="btn btn-success" (click)="sortFriends()">Sortear amigo secreto</button>
  </div>



  <!-- Modal -->


</body>

</html>
